*.txt
BTW.ipynb
BTW_files/
notebook.tex
Assortativity and Katz vs Eigenvector Centrality.zip
On the shortcomings of modularity.zip
On the shortcomings of modularity.ipynb
bitcoinOTC.ipynb
bitcoinOTC.gml
*.csv
graph.png
output_2_0.png
output_2_1.png
PDFs/

